# Database
DB_CONNECTION_URL=postgresql://user:password@localhost:5432/shoppal

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_ACCESS_TOKEN_LENGTH=15m
JWT_REFRESH_TOKEN_LENGTH=7d

# Cookies
COOKIE_REFRESH_TOKEN_NAME=shoppal_refresh_token
COOKIE_REFRESH_TOKEN_AGE=604800000

# Bcrypt
BCRYPT_HASH_LENGTH=10

# Environment
NODE_ENV=development
CLIENT_PROD_URL=http://localhost:5173
